html{
	font-family: verdana;
	font-size: 20px;
}

/* 
#elem1,#elem2,#elem3,#elem4,#elem5,#sub *{
	border:1px solid grey;
} */


body{
	background-color: aqua;
}

#sub *{
	background-color:rgb(168, 165, 165);
}



#elem1{
	/* padding: 40px; */
	/* margin: 40px; */
	/* margin-top: 190px; */

	font-size: 250px;

}
span {
	/* display: inline-block; */
	margin: 70px;
	font-size: 40px;
}

p{
	font-size: 35px;
}

.text_box {
	background-color: rgb(210, 210, 210);
	width: auto;
	height: auto;
	padding: 10px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 35px;
}
.text_box p{
	margin-left: 30px;

}

.list_educations {
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.container_text_box_ed h1, h3,h2, h4{
	margin: 20px;
	margin-top: 40px;
	margin-left: 30px;
	
}
.container_text_box_ed p{
	margin: 20px;
	margin-top: 20px;
	margin-left: 30px;
}
.container_text_box_ed {
	background-color: rgb(231, 224, 224);
	width: auto;
	height: auto;
	padding: 10px;
	/* margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 35px; */
}

#software_image{
	margin-top: 20px;
}

header nav {
	float: left;
}

header nav ul li {
	display:grid;
	margin-top: 3%;
}
header nav ul li a {
	color: #444444;
	font-weight: bold;
	display: block;
}
header nav ul li:last-child a {
	text-transform: uppercase;
	float:unset;
}

